@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Taviraj&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

body {
  background-color:#f0e7ec;
  font-family: 'Open Sans', sans-serif;
  color: #575F7D;
  line-height: 1.5;
  text-align: center;
}

h1 {
  color: #e46ea5;
  font-weight: bold;
  font-family: 'Parisienne', cursive;
  letter-spacing: 1px;
  font-size: 45px;
  text-align: center;
}

#intro {
  margin-bottom: 35px;
}

h2 {
  color: #e46ea5;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 23px;
  font-family: 'Taviraj', serif;
  text-align: center;
  margin-bottom: 30px;
}

h3 {
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 20px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #70AF85;
  font-size: 40px;
  text-align: center;
}

.container {
  width: 900px;
  margin: 0 auto;
}

.card-white {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0px 10px 30px rgba(174, 13, 13, 0.127);
  width: 80%;
  margin: auto;
  margin-bottom: 2rem;
}

.btn-green {
  background-color: #70AF85;
  color: white;
  padding: 8px 15px;
  border-radius: 5px;
  font-size: 15px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
  margin-top: 20px;
  text-align: center;
}

.btn-green:hover{
  background-color: #b2d2bc;
}

i:hover{
  color: #b2d2bc;
}

.img-circle {
  border-radius: 50%;
  max-width: 100%;
  height: auto;
}

.fa {
  display: inblock-line;
  font-weight: 900;
  color: #e46ea5;
  font-size: 24px;
}

.icon-list {
  list-style: none;
  padding: 0rem;
}

.icon-list li {
  display: inline-block;
  margin: 0 20px;
  font-size: 35px;
}

ul > li {
  display: inline-block;
  margin: 0 30px;
}

.flag-icon {
  font-size: 26px;
  border: solid 1px rgb(218, 216, 216);
}

li p {
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  color: #575F7D;
}

/* flex puts everything in one horizontal box, flex-direction: column puts the items inside in a column */
/* flex puts everything in one horizontal box, flex-direction: column puts the items inside in a column */
.separate-line-list {
  display: flex;
  flex-direction: column;
}

/* RESIZE */

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
